*{
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{
    margin: 0;
    padding: 0;
    background: #1C1F26;
    overflow-x: hidden;
}
body.open{
    overflow-y: hidden;
}
/*----------------------global----------------------*/
li{
    color: rgb(silver);
}

/*-----------x-----------global-----------x-----------*/

/*----------------------First Header----------------------*/
/*----------------------Start----------------------*/
.firsthder{
    top: 0;
    height: 40px;
    width: 100%;
    display: flex;
    background: #1C1F26;
}
.firsthder div{
    display: flex;
    gap: 35px;
    margin-left: 1335px;
    align-items: center;
}
.firsthder div svg{
    width: 28px;
    height: 28px;
    fill: #8a8a8a;
}
.firsthder div svg:hover{
    fill: white;
}
.firsthder div .change1{
    width: 20px;
    height: 20px;
}
.firsthder div .change2{
    width: 20px;
    height: 20px;
}
.firsthder div .change3{
    width: 30px;
    height: 30px;
}
/*----------------------End----------------------*/

/*----------------------Top-Bar----------------------*/
/*----------------------Start----------------------*/
.topbar.open{
    position: sticky;
    height: 400px;
    width: 100%;
    background: #1C1F26;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 200px;
    transition: 0.5s;
}
.topbar.open{
    overflow-y: hidden;
}
.topbar.open a{
    margin-top: 50px;
    width: 120px;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    transition: 0.5s;
}
.topbar.open a:hover{
    transform: translateY(-10%);
}
.topbar.open a img{
    width: 40px;
    height: 40px;
}
.topbar.topbar.open a p{
    color: white;
}
.topbar{
    height: 0;
    width: 100%;
    background: #1C1F26;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 200px;
    transition: 0.5s;
}
.topbar a{
    margin-top: 50px;
    width: 120px;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    transition: 0.5s;
}
.topbar a img{
    width: 0;
    height: 0;
    transition: 0.5s;
}
.topbar a p{
    color: transparent;
    transition: 0.3s;
}
/*----------------------End----------------------*/

/*----------------------Second Header----------------------*/
/*----------------------Start----------------------*/
.sechder{
    top: 0;
    position: sticky;
    display: flex;
    height: 60px;
    width: 100%;
    background: white;
    align-items: center;
}

.sechder a img{
    width: 142px;
    margin-top: 5px;
    margin-left: 48px;
}

.sechder .button{
    margin-left: 55px;
    display: flex;
}

.sechder .button div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    background: rgb(255, 255, 255);
    transition: 0.5s;
}
.sechder .button span{
    margin-top: -10px;
    font-size: 15px;
    transition: 0s;
}
.sechder .button svg, .bth8 svg{
    height: 24px;
    width: 24px;
    margin-top: -11.75px;
    transition: 0.5s;
}
.sechder .bth8 svg{
    margin-top: 0px;
}
.sechder .bth8 span{
    margin-left: 12px;
}
/*----------------------Function----------------------*/
/*----------------------Start----------------------*/

.sechder .button .bth1{
    width: 170px;
    height: 70px;
    background: transparent;
    margin-top: 10px;
    
}
.sechder .button .bth1:hover svg{
    fill: #FF5114;
    transform: scaleY(-1);
}
.sechder .button .bth1:hover{
    color: #FF5114;
}
.sechder .button .bth1 div{
    position: absolute;
    height: 0px;
    width: 400px;
    margin-top: 50px;
    margin-left: 200px;
    border-radius: 5px;
}
.sechder .button .bth1:hover div{
    position: absolute;
    height: 200px;
    width: 400px;
    margin-top: 265px;
    margin-left: 200px;
    border-radius: 5px;
    background: white;
}
.sechder ul{
    list-style: none;
}
.sechder ul li{
     position: relative;
}
.sechder ul li a{
    display: block;
    text-decoration: none;
}

.sechder .button .bth2{
    width: 110px;
    height: 70px;
    background: transparent;
    margin-top: 10px;
}
.sechder .button .bth2:hover svg{
    fill: #FF5114;
    transform: scaleY(-1);
}
.sechder .button .bth2:hover{
    color: #FF5114;
}
.sechder .button .bth2 div{
    position: absolute;
    height: 0px;
    width: 250px;
    margin-top: 50px;
    margin-left: 125px;
    border-radius: 5px;
}
.sechder .button .bth2:hover div{
    position: absolute;
    height: 300px;
    width: 250px;
    margin-top: 365px;
    border-radius: 5px;
    background: white;
    transition: 0.5s;
}

.sechder .button .bth3{
    width: 120px;
    height: 70px;
    background: transparent;
    margin-top: 10px;
}
.sechder .button .bth3:hover svg{
    fill: #FF5114;
    transform: scaleY(-1);
}
.sechder .button .bth3:hover{
    color: #FF5114;
}
.sechder .button .bth3 div{
    position: absolute;
    height: 0px;
    width: 300px;
    margin-top: 50px;
    margin-left: 150px;
    border-radius: 5px;
}
.sechder .button .bth3:hover div{
    position: absolute;
    height: 250px;
    width: 300px;
    margin-top: 315px;
    border-radius: 5px;
    background: white;
    transition: 0.5s;
}

.sechder .button .bth4{
    width: 170px;
    height: 70px;
    background: transparent;
    margin-top: 10px;
}
.sechder .button .bth4:hover svg{
    fill: #FF5114;
    transform: scaleY(-1);
}
.sechder .button .bth4:hover{
    color: #FF5114;
}
.sechder .button .bth4 div{
    position: absolute;
    height: 0px;
    width: 250px;
    margin-top: 50px;
    margin-left: 50px;
    border-radius: 5px;
}
.sechder .button .bth4:hover div{
    position: absolute;
    height: 400px;
    width: 250px;
    margin-top: 465px;
    border-radius: 5px;
    background: white;
    transition: 0.5s;
}

.sechder .button .bth5{
    width: 140px;
    height: 70px;
    background: transparent;
    margin-top: 10px;
}
.sechder .button .bth5:hover svg{
    fill: #FF5114;
    transform: scaleY(-1);
}
.sechder .button .bth5:hover{
    color: #FF5114;
}
.sechder .button .bth5 div{
    position: absolute;
    height: 0px;
    width: 250px;
    margin-top: 50px;
    margin-left: 100px;
    border-radius: 5px;
}
.sechder .button .bth5:hover div{
    position: absolute;
    height: 200px;
    width: 250px;
    margin-top: 265px;
    border-radius: 5px;
    background: white;
    transition: 0.5s;
}

.sechder .button .bth6{
    width: 160px;
    height: 70px;
    background: transparent;
    margin-top: 10px;
}
.sechder .button .bth6:hover svg{
    fill: #FF5114;
    transform: scaleY(-1);
}
.sechder .button .bth6:hover{
    color: #FF5114;
}
.sechder .button .bth6 div{
    position: absolute;
    height: 0px;
    width: 225px;
    margin-top: 50px;
    margin-left: 50px;
    border-radius: 5px;
}
.sechder .button .bth6:hover div{
    position: absolute;
    height: 200px;
    width: 225px;
    margin-top: 265px;
    border-radius: 5px;
    background: white;
    transition: 0.5s;
}

.sechder .button .bth7{
    width: 200px;
    height: 70px;
    background: transparent;
    margin-top: 10px;
}
.sechder .button .bth7:hover{
    color: #FF5114;
}

.sechder .bth8{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 21px;
    width: 173px;
    height: 44px;
    background: #FF5114;
    border: none;
}
.sechder .bth8 div{
    transition: 0.5s;
}
.sechder .bth8:hover svg{
    transform: scaleY(-1);
}
.sechder .bth8 div{
    position: absolute;
    height: 0px;
    width: 225px;
    margin-top: 55px;
    margin-left: -52px;
    border-radius: 5px;
    background: white;
}
.sechder .bth8:hover div{
    position: absolute;
    height: 400px;
    width: 225px;
    margin-top: 475px;
    border-radius: 5px;
    background: white;
    transition: 0.5s;
}
/*----------------------End----------------------*/
/*----------------------End----------------------*/

/*----------------------PageI----------------------*/
/*----------------------Start----------------------*/
.page1{
    margin: 0;
    color: white;
    height: 435px;
    width: 100%;
    background-image: url(/images/blue-background.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 120px;
}
.page1 .chl1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.page1 .chl1 h1{
    font-size: 2.5rem;
    line-height: 0px;
    font-weight: bolder;
    margin-bottom: 25px;
}
.page1 .chl1 p{
    font-size: 18px;
}
.page1 .chl2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.page1 .chl2 .field{
    padding-top: 30px;
    width: 700px;
}
.page1 .chl2 .team-card{
    margin-top: -400px;
    width: 450px;
}
.page1 .chl1 a{
    margin-top: 20px;
    margin-left: 5px;
    padding: 0px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    width: 135px;
    color: black;
    background: white;
    border: 2px solid transparent;
    border-radius: 3px;
    transition: 0.2s;
}
.page1 .chl1 a:hover{
    transform: scale(105%);
}
/*----------------------End----------------------*/

/*----------------------Slide----------------------*/
/*----------------------Start----------------------*/
.slide{
    height: 72px;
    width: 100%;
    overflow: hidden;
    background: linear-gradient(to right,#BC9E5F,#836933);
}
.slide div{
    height: 100%;
    width: 4041px;
    display: flex;
    gap: 65px;
    align-items: center;
    animation: slide 80s linear infinite;
}
@keyframes slide{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-100%)
    }
}
.slide img{
    height: 200px;
    width: 200px;
}
.slide div h1{
    color: white;
    font-size: 1.4rem;
}
/*----------------------End----------------------*/

/*----------------------PageII----------------------*/
/*----------------------Start----------------------*/
.page2{
    text-align: center;
    height: 750px;
    width: 100%;
    background-image: url(/images/background.jpg);
    background-position: center;
    background-size: cover;
}
.page2 h1{
    font-size: 2.5rem;
    font-weight: bolder;
    padding-bottom: 15px;
}
.page2 div{
    display: flex;
    justify-content: center;
    gap: 15px;
}
.page2 div div{
    display: flex;
    text-align: left;
    flex-direction: column;
}
.page2 div div h2{
    padding-left: 25px;
    line-height: 0px;
}
.page2 div div span{
    padding-left: 25px;
    color: #434343;
}
.page2 div div a{
    margin-top: 20px;
    margin-left: 25px;
    padding: 5px;
    padding-left: 40px;
    padding-right: 40px;
    text-align: center;
    width: 87px;
    color: black;
    background: transparent;
    border: 1.7px solid black;
    border-radius: 3px;
    transition: 0.2s;
}
.page2 div div a:hover{
    transform: scale(105%);
}
/*----------------------End----------------------*/

.break{
    height: 19px;
    width: 100%;
    background-image: url(/images/body-background.jpg);
}

/*----------------------PageIII----------------------*/
/*----------------------Start----------------------*/
.page3{
    margin: 0;
    height: 400px;
    width: 100%;
    background-image: url(/images/background.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
}
.page3 div{
    margin: 0;
    height: 100%;
    width: 700px;
    background:transparent;
}
.page3 div main{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    background: transparent;
    align-items: center;
}
.page3 div .logo{
    padding-top: 20px;
    width: 550px;
}
.page3 div main h1{
    font-size: 30px;
    font-weight: bolder;
    padding-left: 77px;
    padding-right: 100px;
    margin-bottom: 15px;
}
.page3 div main span{
    font-size: 17px;
    color: #434343;
    padding-left: 78px;
    padding-right: 80px;
}
.page3 .chl2{
    display: flex;
    align-items: center;
}
.page3 .chl2 img{
    padding-left: 20px;
    width: 650px;
}
.page3 div main a{
    margin-top: 20px;
    margin-left: -345px;
    padding: 5px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
    width: 133.5px;
    color: white;
    background: #201E20;
    border: 1.7px solid transparent;
    border-radius: 3px;
    transition: 0.2s;
}
.page3 div main a:hover{
    transform: scale(105%);
}
/*----------------------End----------------------*/

/*----------------------PageVI----------------------*/
/*----------------------Start----------------------*/
.page4{
    height: 400px;
    width: 100%;
    background-image: url(/images/ball-background.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    gap: 100px;
}
.page4 img{
    padding-left: 125px;
    width: 580px;
}
.page4 div{
    height: 100%;
    width: 500px;
}
.page4 div h1{
    font-size: 40px;
    padding-top: 50px;
    font-weight: bolder;
    margin-bottom: 0px;
}
.page4 div p{
    font-size: 18px;
    padding-right: 100px;
}
.page4 a{
    text-align: center;
    margin-top: 250px;
    margin-left: 505px;
    position: absolute;
    padding: 5px;
    padding-left: 30px;
    padding-right: 30px;
    width: 133.5px;
    color: white;
    background: transparent;
    border: 1.7px solid white;
    border-radius: 3px;
    transition: 0.2s;
}
.page4 a:hover{
    transform: scale(105%);
}
/*----------------------End----------------------*/

/*----------------------PageV----------------------*/
/*----------------------Start----------------------*/
.page5{
    height: 900px;
    width: 100%;
    background-image: url(/images/backgorund-red.png);
    background-position: center;
    background-size: cover;
    justify-content: center;
    text-align: center;
}
.page5 h1{
    font-size: 40px;
    padding-top: 50px;
    font-weight: bolder;
    margin-bottom: 60px;
}
.page5 div{
    display: flex;
    justify-content: center;
    text-align: left;
    gap: 15px;
}
.page5 div img{
    width: 525px;
}
.page5 div div{
    display: flex;
    flex-direction: column;
}
.page5 div div h2{
    line-height: 0px;
    font-weight: bolder;
    margin-bottom: 0px;
}
.page5 div div p{
    font-size: 17px;
    color: #434343;
}
.page5 div div .p1{
    margin-bottom: 137px;
}
.page5 div div .p2{
    width: 500px;
}
.page5 div div a{
    margin-top: 0px;
    margin-left: 5px;
    padding: 5px;
    padding-left: 40px;
    padding-right: 40px;
    text-align: center;
    width: 100px;
    color: black;
    background: transparent;
    border: 1.7px solid black;
    border-radius: 3px;
    transition: 0.2s;
}
.page5 div div a:hover{
    transform: scale(105%);
}
/*----------------------End----------------------*/

/*----------------------PageIV----------------------*/
/*----------------------Start----------------------*/
.page6{
    height: 450px;
    width: 100%;
    background: #FFF1DE;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}
.page6 video{
    height: 450px;
}
.page6 img{
    margin-top: -390px;
    width: 500px;
}
.page6 h1{
    text-align: center;
    font-size: 40px;
    width: 600px;
    line-height: 38px;
    font-weight: bolder;
    margin-bottom: 20px;
}
.page6 a{
    margin-top: 20px;
    padding: 5px;
    padding-left: 40px;
    padding-right: 40px;
    text-align: center;
    color: white;
    background: transparent;
    border: 1.7px solid white;
    border-radius: 3px;
    transition: 0.2s;
}
.page6 a:hover{
    transform: scale(105%);
}
/*----------------------End----------------------*/

/*----------------------PageIIV----------------------*/
/*----------------------Start----------------------*/
.page7{
    height: 650px;
    width: 100%;
    background: #FFF1DE;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.page7 .title{
    padding-top: 70px;
    height: 150px;
    width: 100%;
    margin-bottom: 30px;
}
.page7 .title h1{
    text-align: center;
    font-size: 40px;
    font-weight: bolder;
}
.page7 .box{
    height: 215px;
    width: 85%;
    scroll-snap-type: x mandatory;
}
.page7 .box .scrollbar::-webkit-scrollbar{
    background: transparent;
    border: 1px solid #b1b1b1;
    border-radius: 25px;
}
.page7 .box .scrollbar::-webkit-scrollbar:hover{
    background: #b1b1b1;
}
.page7 .box .scrollbar::-webkit-scrollbar-thumb{
    height: 20px;
    background: #8a8a8a;
    border-radius: 25px;
}
.page7 .box .scrollbar::-webkit-scrollbar-thumb:hover{
    background: #4c4c4c;
}
.page7 .box .scrollbar{
    height: 100%;
    width: auto;
    display: flex;
    gap: 30px;
    padding-bottom: 30px;
    overflow-x: scroll;
    overflow-y: hidden;
}
.page7 .box .scrollbar a{
    height: 100%;
    color: white;
    border: 1px solid white;
    background: #201E20;
    scroll-snap-align: start;
}
.page7 .box .scrollbar .change h1{
     margin-bottom: 57px;
}
.page7 .box .scrollbar a h1{
    padding-top: 8px;
    padding-left: 23px;
    font-size: 28px;
    width: 320px;
}
.page7 .box .scrollbar a div{
    margin-left: 20px;
    text-align: center;
    padding: 5px;
    padding-left: 30px;
    padding-right: 30px;
    width: 133.5px;
    color: white;
    background: transparent;
    border: 1.7px solid white;
    border-radius: 3px;
    transition: 0.2s;
}
.page7 .box .scrollbar a div:hover{
    transform: scale(105%);
}
/*----------------------End----------------------*/

/*----------------------PageIIIV----------------------*/
/*----------------------Start----------------------*/
.page8{
    height: 550px;
    width: 100%;
    background-image: url(/images/field-background.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.page8 .title{
    color: white;
    padding-top: 120px;
    height: 150px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.page8 .title h1{
    font-size: 40px;
    font-weight: bolder;
    line-height: 0;
}
.page8 .title p{
    font-size: 16px;
    font-weight: 400;
}
.page8 .box{
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.page8 .box .all-logo{
    height: 100%;
    width: 100%;
    display: flex;
    gap: 0;
    animation: all-logo 60s linear infinite;
}
.page8 .box .all-logo img{
    width: 3000px;
}
@keyframes all-logo{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-100%)
    }
}
.page8 a{
    margin-top: 20px;
    padding: 5px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
    width: 201px;
    color: white;
    background: transparent;
    border: 1.7px solid white;
    border-radius: 3px;
    transition: 0.2s;
}
.page8 a:hover{
    transform: scale(105%);
}
/*----------------------End----------------------*/

/*----------------------PageXI----------------------*/
/*----------------------Start----------------------*/
.page9{
    margin: 0;
    height: 430px;
    width: 100%;
    background-image: url(/images/mbappe-kerr.jpg);
    background-position: center;
    background-size: cover;
}
.page9 div{
    padding-left: 45px;
    height: 100%;
    width: 700px;
}
.page9 div main{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.page9 div .logo{
    padding-top: 20px;
    width: 550px;
}
.page9 div main h1{
    font-size: 30px;
    font-weight: bolder;
    padding-left: 77px;
    padding-right: 100px;
    margin-bottom: 15px;
}
.page9 div main span{
    font-size: 17px;
    color: #434343;
    padding-left: 78px;
    padding-right: 80px;
}
.page9 div main a{
    margin-top: 20px;
    margin-left: -345px;
    padding: 5px;
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
    width: 80px;
    color: white;
    background: #201E20;
    border: 1.7px solid transparent;
    border-radius: 3px;
    transition: 0.2s;
}
.page9 div main a:hover{
    transform: scale(105%);
}
/*----------------------End----------------------*/

/*----------------------TextI----------------------*/
/*----------------------Start----------------------*/
.text1{
    height: 80px;
    width: 100%;
    color: white;
    font-size: 20px;
    font-weight: 400px;
    background: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
}
/*----------------------End----------------------*/

/*----------------------TextII----------------------*/
/*----------------------Start----------------------*/
.text2{
    padding-left: 150px;
    height: 65px;
    width: 100%;
    color: white;
    font-size: 18px;
    font-weight: 400px;
    background: #1C1F26;
    display: flex;
    align-items: center;
}
.text2 a{
    color: #FF5114;
}
/*----------------------End----------------------*/

/*----------------------PageX----------------------*/
/*----------------------Start----------------------*/
.page10{
    height: 370px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #252325;
}
.page10 .chl1{
    height: 120px;
    width: 75%;
    display: flex;
    border-bottom: 1px solid #8a8a8a;
}
.page10 .chl1 .fifa23{
    height: 100%;
    width: 700px;
    color: rgb(222, 222, 222);
}
.page10 .chl1 .fifa23 h3{
    line-height: 0;
    margin-bottom: 35px;
}
.page10 .chl1 .fifa23 div{
    display: flex;
    gap: 40px;
}
.page10 .chl1 .fifa23 a{
    font-size: 15px;
    color: #8a8a8a;
}
.page10 .chl1 .fifa23 a:hover{
    color: #FF5114;
}
.page10 .chl1 .media{
    margin-left: 240px;
    height: 100%;
    width: 250px;
}
.page10 .chl1 .media h3{
    line-height: 0;
    padding-left: 110px;
    margin-bottom: 30px;
    color: rgb(222, 222, 222);
}
.page10 .chl1 .media div{
    padding-left: 0px;
    display: flex;
    gap: 40px;
}
.page10 .chl1 .media div svg{
    height: 30px;
    width: 30px;
    fill: rgb(222, 222, 222);
    transition: 0.2s;
}
.page10 .chl1 .media div svg:hover{
    transform: scale(120%);
}
.page10 .chl2{
    height: 140px;
    width: 75%;
}
.page10 .chl2 img{
    padding-top: 30px;
}
.page10 .chl2 .rate{
    margin-left: 1002.25px;
}
/*----------------------End----------------------*/

/*----------------------PageXI----------------------*/
/*----------------------Start----------------------*/
.page11{
    height: 300px;
    width: 100%;
    display: flex;
    justify-content: center;
    background: #ffffff;
}
.page11 .chl1 img{
    padding-top: 30px;
    padding-right: 20px;
    width: 64px;
}
.page11 .chl2 .header{
    display: flex;
    gap: 60px;
    font-size: 17px;
    font-weight: 400;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
}
.page11 .chl2 .text{
    display: flex;
    gap: 40px;
    line-height: 0;
    font-size: 15px;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
}
.page11 .chl2 .change{
    line-height: 10px;
    font-size: 15px;
    padding-left: 30px;
    padding-right: 30px;
}
.page11 .chl2 #change{
    margin-top: 40px;
}
.page11 .chl3{
    padding: 25px;
}
.page11 .chl3 img{
    padding-top: 100px;
    padding-left: 20px;
}
.page11 .chl3 div{
    padding: 5px;
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
    width: 70px;
    color: #4c4c4c;
    background: transparent;
    border: 1.7px solid #8a8a8a;
    border-radius: 3px;
    transition: 0.2s;
}
.page11 .chl3 div:hover{
    transform: scale(105%);
}
/*----------------------End----------------------*/